* text=auto !eol
/block_links.php -text
/config_global_action.php -text
db/access.php -text
db/install.xml -text
db/upgrade.php -text
/edit.php -text
/edit_form.php -text
lang/en/block_links.php -text
nbproject/project.properties -text
nbproject/project.xml -text
pix/clear.gif -text
pix/delete.gif -text
pix/edit.gif -text
pix/web.gif -text
/settings.php -text
/version.php -text
